################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CreaciónLibrerías/CopilotIndices/0.2.1657.32929
/.vs/MiLibreria/CopilotIndices/0.2.1657.32929
/.vs/MiLibreria/copilot-chat/c82d8b08/sessions
/.vs/MiLibreria/DesignTimeBuild
/.vs/MiLibreria/FileContentIndex
/.vs/MiLibreria/v17/TestStore/0
/CreaciónLibrerías/obj/Release/net8.0
/Xunit/bin/Release/net8.0
/Xunit/obj/Release/net8.0
/CreaciónLibrerías/bin/Release/net8.0
